<div class="modal-header">
 <h3 class="modal-title">select photo for {{record.honoree}}</h3>
</div>
<div class="modal-body">
<table ><tr>
<td >
<div style="height:305px;width:200px;overflow-y:auto;">
<tabset vertical="true" type="pills">
    <tab ng-repeat="album in albums" heading="{{album.name}}" select="listphotos(album)" />
</tabset>
</div>
</td>
<td style="width:20px;"></td>
<td id="photospace" >
 <div >
    <carousel  no-wrap="1">
      <slide ng-repeat="photo in photos" >
        <img ng-src="{{photo.picture}}" >
      </slide>
    </carousel>
  </div>
</td>
</tr></table>
</div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok();">OK</button>
            <button class="btn btn-warning" ng-click="cancel();">Cancel</button>
        </div>
