<td class="honoree">
 <input type="hidden" ng-model="record.id">
 {{record.honoree}}
</td>
<td class="gregdate"><!-----greg date --------------------------------------->
 {{gregmonths[record.greg_month-1].label}}
 {{record.greg_day}}
 {{record.greg_year}}
  
</td><!-- /greg date ------------------------------------->
<td class="hebdate"> <!--- heb date --------------------------------------->
 {{hebmonths[record.heb_month-1].label}}
 {{record.heb_day}}
 {{record.heb_year}}
</td><!-- /heb date-------------------------------------->
<td> <!----- photo ---------------------------------->
 <img ng-src="{{record.photo.picture}}">
</td> <!---- /photo --------------------------------->
<td class="editcol" >
    <span ng-show="record.id==0">
     <button type="button" ng-click="submitnew(record)">save</button>
     <button type="button" ng-click="reset(record)">cancel</button>
    </span>
	<span ng-show="showdeletefor==record.id && editinguser==false">
	<button type="button" ng-click="photo(record)"><span alt="Upload Photo" class="glyphicon glyphicon-camera"></span></button>
	<button type="button" ng-click="edit(record)"><span class="glyphicon glyphicon-pencil"></span></button>
	<button type="button" ng-click="confirmdelete(record)"><span class="glyphicon glyphicon-remove"></span></button>
	</span>
</td>
<td></td>